.productList{
    flex: 4;
}
.productListItem{
display: flex;
align-items: center;
}
.productListImg{
    width: 62px; 
    height: 62px;
    
}



.productListEdit{
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 7px 14px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
    }
.productListDelete{
    color: red;
    cursor: pointer;
    }

.productList{

    }

    .product{
        flex: 4;
        padding: 20px;
    }
    .productTitleConatiner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .productTitle{
        font-weight: 600;
        font-size: 32px;
    }
    .productAddButton{
    width: 100px;
    bottom: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(19, 114, 92);
    font-size: 16px;
    cursor: pointer;
    
    }    