.userList{
    flex: 4;
    
}

.userListUser{
display: flex;
align-items: center;
}
.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.userListEdit{
border: none;
border-radius: 10px;
background-color: aquamarine;
padding: 7px 14px;
cursor: pointer;
color: white;
margin-right: 20px;
}
.userListDelete{
color: red;
cursor: pointer;
}