.product{
    flex: 4;
    padding: 20px;
}
.productTitleConatiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productTitle{
    font-weight: 600;
    font-size: 32px;
}
.productAddButton{
width: 100px;
bottom: none;
padding: 5px;
border-radius: 5px;
color: white;
background-color: rgb(19, 114, 92);
font-size: 16px;

}
.productTop{
    display: flex;
    justify-content: space-between;
}
.productTopLeft{
flex: 1;
}

.productTopRight{
    
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 19px 4px rgba(0,0,0,0.76); 
box-shadow: 0px 4px 19px 4px rgba(0,0,0,0.76);

}
.productInfoTop{
    display: flex;
    align-items: center;
}
.productInfoImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.productName{
    font-weight: 600;
}
.productInfoBottom{
    margin-top: 10px;
  
    
}
.productInfoItem{
    width: 150px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.productInfoKey{
    font-weight: 600;
}
.productInfoValue{

}

.productBottom{
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 19px 4px rgba(0,0,0,0.76); 
box-shadow: 0px 4px 19px 4px rgba(0,0,0,0.76);
}

.productForm{
display: flex;
justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.productFormLeft>input{
    margin-bottom: 10px;
    color: gray;
    border: none;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.productFormLeft>select{
    
    border-bottom: 1px solid gray;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUpload{
display: flex;
align-items: center;
}
.productUploadImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.productButton{
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}